* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.dark {
  background: #000;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1536px;
  margin: 0 auto;
  padding-bottom: 40px;
}
