@import "tailwindcss";

.shadow-dark {
  box-shadow: inset rgba(0, 0, 0, 0.7) 0px 1px 4px;
}

.shadow-light {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.backgroundPromo {
  background: #fa5523;
  background: linear-gradient(
    90deg,
    rgba(250, 85, 35, 1) 18%,
    rgba(245, 141, 76, 1) 100%
  );
}
